<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="container">
    <form id="bbs" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="mb-3">
        <p for="content" class="form-label">content</p>
        <textarea class="form-control" id="editor" name="content" rows="10"></textarea>
      </div>
      <button class="btn btn-primary">save</button>
      <button type="button" onclick="cancel();" class="btn btn-primary">cancel</button>
    </form>
  </div>

  <script src="/build/ckeditor.js"></script>
  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        window.editor = editor;
      })
      .catch(error => {
        console.error('Oops, something went wrong!');
        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
        console.warn('Build id: pwpxdw4bejft-94vwzinfv51s');
        console.error(error);
      });
  </script>
</body>